<?xml version='1.0' encoding='utf-8'?>
<widget id="PLL.GBE.calculette" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>calcul langlois</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="support@example.com" href="http://example.com">
        Calcul Langlois Team
    </author>
    <content src="index.html" />
    <icon src="www/res/icon.png" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
